body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    margin-right: 20px;
}

#swiss-logo {
    width: 50px;
}

#registration, #tippabgabe, #rangliste {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#spiele div, #leaderboard div {
    margin-bottom: 10px;
}

#leaderboard {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
}
